* {
	margin:0;
	padding:0;
	position:relative;
	font-family:'Raleway';
	font-weight:600;
}
nav, ul, li, li a {
	width:100%;
	display:inline-block;
}
	p a, span, br, b, strong, i, q {
		float:none;
	}
html h1, html h2, html .button {
	text-transform:uppercase;
}
li {
	list-style:none;
}
html a {
	color:inherit;
	font-size:inherit;
	font-style:inherit;
	text-transform:inherit;
	text-decoration:none;
}
	html a:hover {
		text-decoration:none;
	}
html, body {
	width:100%;
	min-height:100%;
}
.nest-panel:first-child {
	width:30%;
}
	.nest-panel:nth-child(2) {
		width:70%;
	}
.nest-header {
	padding:3em;
}
	.nest-path {
		color:#999;
		text-transform:uppercase;
		font-weight:600;
		font-size:0.85em;
	}
		.nest-path a {
			border-bottom:1px dotted #999;
		}
		.nest-path a:hover {
			border-bottom:1px solid #999;
		}
	.nest-path-curr {
		color:#333;
	}
		.dark .nest-path-curr {
			color:#CCC;
		}
	.nest-panel-title {
		font-size:1.25em;
		float:left;
		width:auto;
	}
		.dark .nest-panel-title {
			color:#FFF;
		}
	.nest-back {
		text-transform:uppercase;
		color:#333;
		font-size:1em;
		margin-bottom:2em;
	}
		.dark .nest-back {
			color:#666;
		}
		.nest-back span {
			font-weight:bold;
			margin-right:0.3em;
			width:30px;
			font-family:'Arial';
			font-size:1.5em;
		}
	.nest-actions {
		float:right;
		margin-top:1.5em;
		text-transform:uppercase;
		color:#999;
	}
		.nest-actions a:hover {
			color:#333;
		}
			.dark .nest-actions a:hover {
				color:#FFF;
			}
		.nest-actions a + a {
			margin-left:1em;
		}
		.nest-actions a,.option {
			font-size:0.85em;
		}
			.nest-actions a span,.option span {
				font-size:14px;
			}
.button,form input.button {
	background-color:transparent;
	border:2px solid #000;
	color:#000;
	text-transform:uppercase;
	font-size:0.9em;
	padding:1.25em;
	letter-spacing:1px;
	font-family:'Raleway';
	font-weight:600;
}
	.button:hover {
		background-color:#000;
		color:#FFF;
	}
.nest-panel.dark {
	background-color:#333;
}
.nest-panel {
	float:left;
	background-color:#f6f6f6;
	padding-bottom:2em;
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
	.form form {
		padding:0 3em;
	}
		.form-content p {
			width:100%;
			font-family:'Source Sans Pro';
			color:#666;
			line-height:150%;
			font-weight:400;
			padding:1.5em 0;
		}
		.form-content input, .form-content textarea {
			width:100%;
			background-color:#FFF;
			border:none;
			outline:none;
			padding:1em 1.5em;
			font-family:'Source Sans Pro';
			font-weight:400;
		}
			.form-content div + input, .form-content div + textarea {
				margin-top:3em;
			}
		.form-content label {
			text-transform:uppercase;
			color:#999;
			font-size:0.85em;
			margin-bottom:0.5em;
		}
			.form-content div + div {
				margin-top:1.5em;
			}
		.form-content select {
			width:100%;
			background-color:#222;
			color:#CCC;
			border:none;
			outline:none;
			border-radius: 0;
			padding:1em 1.5em;
			font-weight:400;
			font-family:'Source Sans Pro';
			-webkit-appearance:none;
			-moz-appearance:none;
		}
			.form-content .select-arrow {
				position:absolute;
				bottom:1.25em;
				right:1.5em;
				color:#CCC;
				font-weight:600;
				z-index:10;
			}
			.form-content select:hover {
				background-color:#000;
			}
			.form-content select:hover,.form-content select:hover + .select-arrow {
				color:#FFF;
			}
		.form-content > div:first-child {
			margin-top:2em;
		}
	.list li {
		font-size:14px;
	}
		.list li > a {
			padding:1.5em 3em;
		}
			.dark.list li a {
				color:#eee;
			}
			.dark.list li:hover a {
				color:#FFF;
			}
		.list .nest-header + nav {
			margin-top:1.5em;
		}
		.list li.s,.list li:hover {
			background-color:#eee;
		}
			.dark.list li.s,.dark.list li:hover {
				background-color:#444;
			}
		.list .edit,.list .trash {
			position:absolute;
			top:0;
			padding:1.5em;
			text-transform:uppercase;
			color:#999;
			width:auto;
			display:none;
		}
			li.s .edit, li.s .trash, li:hover .edit, li:hover .trash{
				display:block;
			}
			.list .edit:hover, .list .trash:hover, li.s .edit, li.s .trash {
				color:#333;
			}
				.dark.list .edit:hover, .dark.list .trash:hover, .dark li.s .edit, .dark li.s .trash {
					color:#FFF;
				}
			.list .option a {
				width:auto
			}
				.list .option a + a {
					margin-left:1em;
				}
			.list .edit {
				right:0;
				margin:5px 0;
			}
				li i, p i, a i {
					margin-right:0.5em;
				}
			.list .trash {
				left:0;
				margin:2px 0;
			}
				.list .trash:hover {
					color:#FF504E;
				}
			.page-url {
				font-size:0.9em;
				color:#999;
				font-family:'Source Sans Pro';
				font-weight:400;
			}
	.items-content h2 {
		font-size:1.25em;
		text-transform:none;
		margin:0 0 0.5em 0;
	}
		.items-content .item-sub {
			font-family:'Source Sans Pro';
			font-weight:400;
			color:#666;
			margin-bottom:0;
		}
		.items-search {
			width:100%;
			border:none;
			outline:none;
			font-family:'Source Sans Pro';
			padding:1em 3em;
			font-weight:400;
		}
	.navbar {
		text-transform:uppercase;
		font-weight:bold;
		text-align:center;
	}
		.navbar ul {
			padding:1em 0;
		}
		.navbar a {
			padding:0.75em 0;
			color:#666;
		}
			.navbar a:hover {
				color:#333;
				background-color:#eee;
			}
		.navbar span {
			width:100%;
			padding:1em 0;
			background-color:#eee;
			color:#999;
			float:left;
		}
	.code a:hover {
		color:#FFF;
	}
		.code li span {
			color:#999;
		}
		.code li p,.code li span {
			font-family:'Source Sans Pro';
			font-weight:400;
			margin:0;
		}
	.nest-panel.editor {
		background-color:#222;
		height:100%;
		padding-bottom:0;
	}
		html .editor code {
			height:100%;
			width:100%;
			overflow:scroll;
			border:none;
			word-break:normal;
			word-wrap:nowrap;
		}
	iframe {
		width:100%;
		height:100%;
		outline:none;
		border:none;
	}
/* -- counter unwanted prism styles -- */
html .editor pre {
	margin: 0;
	padding:3em 5em;
	color: #FFF;
	word-break: normal;
	word-wrap: nowrap;
	background-color: #222;
	border-radius:0;
	border:none;
	box-shadow:none;
	background:transparent;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlEY6Fu39Tt9XkmtSosaMoEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBRq_IsDXucKYMk4-diqPEc.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGLlcMrNrsnL9dgADnXgYJjs.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12b8DdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}